<template>
  <div>
    <h1>
      <inertia-link :href="route('users')">Users</inertia-link>
      <span>/</span> Create
    </h1>
    <div>
      <form @submit.prevent="submit">
        <div>
          <text-input v-model="form.first_name" :error="errors.first_name" label="First name" />
          <text-input v-model="form.last_name" :error="errors.last_name" label="Last name" />
          <text-input v-model="form.email" :error="errors.email" label="Email" />
          <text-input v-model="form.password" :error="errors.password" type="password" autocomplete="new-password" label="Password" />
          <select-input v-model="form.owner" :error="errors.owner" label="Owner">
            <option :value="true">Yes</option>
            <option :value="false">No</option>
          </select-input>
          <file-input v-model="form.photo" :error="errors.photo" type="file" accept="image/*" label="Photo" />
        </div>
        <div>
          <loading-button :loading="sending" type="submit">Create User</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import LoadingButton from '@/Shared/LoadingButton'
import SelectInput from '@/Shared/SelectInput'
import TextInput from '@/Shared/TextInput'
import FileInput from '@/Shared/FileInput'

export default {
  metaInfo: { title: 'Create User' },
  layout: Layout,
  components: {
    LoadingButton,
    SelectInput,
    TextInput,
    FileInput,
  },
  props: {
    errors: Object,
  },
  remember: 'form',
  data() {
    return {
      sending: false,
      form: {
        first_name: null,
        last_name: null,
        email: null,
        password: null,
        owner: false,
        photo: null,
      },
    }
  },
  methods: {
    submit() {
      const data = new FormData()
      data.append('first_name', this.form.first_name || '')
      data.append('last_name', this.form.last_name || '')
      data.append('email', this.form.email || '')
      data.append('password', this.form.password || '')
      data.append('owner', this.form.owner ? '1' : '0')
      data.append('photo', this.form.photo || '')

      this.$inertia.post(this.route('users.store'), data, {
        onStart: () => this.sending = true,
        onFinish: () => this.sending = false,
      })
    },
  },
}
</script>
