<template>
  <div>
    <div class="mb-3">
      <h1>
        <inertia-link :href="route('users')">Users</inertia-link>
        <span>/</span>
        {{ form.first_name }} {{ form.last_name }}
      </h1>
      <img v-if="user.photo" :src="user.photo">
    </div>
    <trashed-message v-if="user.deleted_at" @restore="restore">
      This user has been deleted.
    </trashed-message>
    <div>
      <form @submit.prevent="submit">
        <div>
          <text-input v-model="form.first_name" :error="errors.first_name" label="First name" />
          <text-input v-model="form.last_name" :error="errors.last_name" label="Last name" />
          <text-input v-model="form.email" :error="errors.email" label="Email" />
          <text-input v-model="form.password" :error="errors.password" type="password" autocomplete="new-password" label="Password" />
          <select-input v-model="form.owner" :error="errors.owner" label="Owner">
            <option :value="true">Yes</option>
            <option :value="false">No</option>
          </select-input>
          <file-input v-model="form.photo" :error="errors.photo" type="file" accept="image/*" label="Photo" />
        </div>
        <div>
          <button class="btn btn-danger" v-if="!user.deleted_at" type="button" @click="destroy">Delete User</button>
          <loading-button :loading="sending" type="submit">Update User</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import LoadingButton from '@/Shared/LoadingButton'
import SelectInput from '@/Shared/SelectInput'
import TextInput from '@/Shared/TextInput'
import FileInput from '@/Shared/FileInput'
import TrashedMessage from '@/Shared/TrashedMessage'

export default {
  metaInfo() {
    return {
      title: `${this.form.first_name} ${this.form.last_name}`,
    }
  },
  layout: Layout,
  components: {
    LoadingButton,
    SelectInput,
    TextInput,
    FileInput,
    TrashedMessage,
  },
  props: {
    errors: Object,
    user: Object,
  },
  remember: 'form',
  data() {
    return {
      sending: false,
      form: {
        first_name: this.user.first_name,
        last_name: this.user.last_name,
        email: this.user.email,
        password: this.user.password,
        owner: this.user.owner,
        photo: null,
      },
    }
  },
  methods: {
    submit() {
      var data = new FormData()
      data.append('first_name', this.form.first_name || '')
      data.append('last_name', this.form.last_name || '')
      data.append('email', this.form.email || '')
      data.append('password', this.form.password || '')
      data.append('owner', this.form.owner ? '1' : '0')
      data.append('photo', this.form.photo || '')
      data.append('_method', 'put')

      this.$inertia.post(this.route('users.update', this.user.id), data, {
        onStart: () => this.sending = true,
        onFinish: () => this.sending = false,
        onSuccess: () => {
          if (Object.keys(this.$page.errors).length === 0) {
            this.form.photo = null
            this.form.password = null
          }
        },
      })
    },
    destroy() {
      if (confirm('Are you sure you want to delete this user?')) {
        this.$inertia.delete(this.route('users.destroy', this.user.id))
      }
    },
    restore() {
      if (confirm('Are you sure you want to restore this user?')) {
        this.$inertia.put(this.route('users.restore', this.user.id))
      }
    },
  },
}
</script>
