<template>
  <div>
    <h1>Users</h1>


    <div class="row">
      <div class="col">
        <search-filter v-model="form.search" @reset="reset" class="mb-3">
          <label for="roleSelect" class="p-1">Role:</label>
          <select id="roleSelect" class="form-select m-2 w-auto" v-model="form.role">
            <option :value="null"/>
            <option value="user">User</option>
            <option value="owner">Owner</option>
          </select>
          <label for="trashedSelect" class="p-1">Trashed:</label>
          <select id="trashedSelect" class="form-select m-2 w-auto" v-model="form.trashed">
            <option :value="null"/>
            <option value="with">With Trashed</option>
            <option value="only">Only Trashed</option>
          </select>
        </search-filter>
      </div>
      <div class="col text-end">
        <inertia-link class="btn btn-primary" :href="route('users.create')">
          <span>Create</span>
          <span>User</span>
        </inertia-link>

      </div>
    </div>


    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th colspan="2">Role</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="user in users" :key="user.id">
        <td>

          <img v-if="user.photo" :src="user.photo">
          {{ user.name }}
          <i v-if="user.deleted_at" class="bi-trash"></i>


        </td>
        <td>

          {{ user.email }}

        </td>
        <td>

          {{ user.owner ? 'Owner' : 'User' }}

        </td>
        <td>
          <inertia-link :href="route('users.edit', user.id)" tabindex="-1">
            <i class="bi-pencil"></i>
          </inertia-link>
        </td>
      </tr>
      <tr v-if="users.length === 0">
        <td colspan="4">No users found.</td>
      </tr>
      </tbody>
    </table>
  </div>

</template>

<script>
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Layout'
import mapValues from 'lodash/mapValues'
import pickBy from 'lodash/pickBy'
import SearchFilter from '@/Shared/SearchFilter'
import debounce from 'lodash/debounce'

export default {
  metaInfo: { title: 'Users' }, layout: Layout, components: {
    Icon, SearchFilter,
  }, props: {
    users: Array, filters: Object,
  }, data () {
    return {
      form: {
        search: this.filters.search, role: this.filters.role, trashed: this.filters.trashed,
      },
    }
  }, watch: {
    form: {
      handler: debounce(function () {
        let query = pickBy(this.form)
        this.$inertia.replace(this.route('users', Object.keys(query).length ? query : { remember: 'forget' }))
      }, 150), deep: true,
    },
  }, methods: {
    reset () {
      this.form = mapValues(this.form, () => null)
    },
  },
}
</script>
