<template>
  <div>
    <h1>
      <inertia-link :href="route('organizations')">Organizations</inertia-link>
      <span>/</span> Create
    </h1>
    <div>
      <form @submit.prevent="submit">
        <div>
          <text-input v-model="form.name" :error="errors.name" label="Name" />
          <text-input v-model="form.email" :error="errors.email" label="Email" />
          <text-input v-model="form.phone" :error="errors.phone" label="Phone" />
          <text-input v-model="form.address" :error="errors.address" label="Address" />
          <text-input v-model="form.city" :error="errors.city" label="City" />
          <text-input v-model="form.region" :error="errors.region" label="Province/State" />
          <select-input v-model="form.country" :error="errors.country" label="Country">
            <option :value="null" />
            <option value="CA">Canada</option>
            <option value="US">United States</option>
          </select-input>
          <text-input v-model="form.postal_code" :error="errors.postal_code" label="Postal code" />
        </div>
        <div>
          <loading-button :loading="sending" type="submit">Create Organization</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import LoadingButton from '@/Shared/LoadingButton'
import SelectInput from '@/Shared/SelectInput'
import TextInput from '@/Shared/TextInput'

export default {
  metaInfo: { title: 'Create Organization' },
  layout: Layout,
  components: {
    LoadingButton,
    SelectInput,
    TextInput,
  },
  props: {
    errors: Object,
  },
  remember: 'form',
  data() {
    return {
      sending: false,
      form: {
        name: null,
        email: null,
        phone: null,
        address: null,
        city: null,
        region: null,
        country: null,
        postal_code: null,
      },
    }
  },
  methods: {
    submit() {
      this.$inertia.post(this.route('organizations.store'), this.form, {
        onStart: () => this.sending = true,
        onFinish: () => this.sending = false,
      })
    },
  },
}
</script>
