<template>
  <div>
    <h1>
      <inertia-link :href="route('organizations')">Organizations</inertia-link>
      {{ form.name }}
    </h1>
    <trashed-message v-if="organization.deleted_at" @restore="restore">
      This organization has been deleted.
    </trashed-message>
    <div class="mb-3">
      <form class="form" @submit.prevent="submit">
        <div>
          <text-input v-model="form.name" :error="errors.name" label="Name"/>
          <text-input v-model="form.email" :error="errors.email" label="Email"/>
          <text-input v-model="form.phone" :error="errors.phone" label="Phone"/>
          <text-input v-model="form.address" :error="errors.address" label="Address"/>
          <text-input v-model="form.city" :error="errors.city" label="City"/>
          <text-input v-model="form.region" :error="errors.region" label="Province/State"/>
          <select-input v-model="form.country" :error="errors.country" label="Country">
            <option :value="null"/>
            <option value="CA">Canada</option>
            <option value="US">United States</option>
          </select-input>
          <text-input v-model="form.postal_code" :error="errors.postal_code" label="Postal code"/>
        </div>
        <div>
          <button class="btn btn-danger" v-if="!organization.deleted_at" tabindex="-1" type="button" @click="destroy">
            Delete Organization
          </button>
          <loading-button :loading="sending" type="submit">Update Organization</loading-button>
        </div>
      </form>
    </div>

    <h2>Contacts</h2>
    <div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th colspan="2">Phone</th>
        </tr>
        </thead>
        <tbody>


        <tr v-for="contact in organization.contacts" :key="contact.id">
          <td>
              {{ contact.name }}
              <icon v-if="contact.deleted_at" name="trash"/>
          </td>
          <td>
              {{ contact.city }}
          </td>
          <td>
              {{ contact.phone }}
          </td>
          <td>
            <inertia-link :href="route('contacts.edit', contact.id)" tabindex="-1">
              <i class="bi-pencil"></i>
            </inertia-link>
          </td>
        </tr>
        <tr v-if="organization.contacts.length === 0">
          <td colspan="4">No contacts found.</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Layout'
import LoadingButton from '@/Shared/LoadingButton'
import SelectInput from '@/Shared/SelectInput'
import TextInput from '@/Shared/TextInput'
import TrashedMessage from '@/Shared/TrashedMessage'

export default {
  metaInfo () {
    return { title: this.form.name }
  }, layout: Layout, components: {
    Icon, LoadingButton, SelectInput, TextInput, TrashedMessage,
  }, props: {
    errors: Object, organization: Object,
  }, remember: 'form', data () {
    return {
      sending: false, form: {
        name: this.organization.name,
        email: this.organization.email,
        phone: this.organization.phone,
        address: this.organization.address,
        city: this.organization.city,
        region: this.organization.region,
        country: this.organization.country,
        postal_code: this.organization.postal_code,
      },
    }
  }, methods: {
    submit () {
      this.$inertia.put(this.route('organizations.update', this.organization.id), this.form, {
        onStart: () => this.sending = true, onFinish: () => this.sending = false,
      })
    }, destroy () {
      if (confirm('Are you sure you want to delete this organization?')) {
        this.$inertia.delete(this.route('organizations.destroy', this.organization.id))
      }
    }, restore () {
      if (confirm('Are you sure you want to restore this organization?')) {
        this.$inertia.put(this.route('organizations.restore', this.organization.id))
      }
    },
  },
}
</script>
