<template>
  <div class="form-check">
    <input class="form-check-input" v-bind="$attrs" :checked="isChecked" :id="id" type="checkbox" @change="change" />
    <label v-if="label" class="form-label" :for="id">{{ label }}</label>
    <div v-if="error" class="text-danger">{{ error }}</div>
  </div>
</template>
<script>
export default {
  props: {
    id: {
      type: String,
      default() {
        return `checkbox-${this._uid}`
      },
    },
    value: {},
    label: String,
    error: String,
  },
  computed: {
    isChecked() {
      return this.value === "1" || this.value === true;
    }
  },
  methods: {
    change(e) {
      this.$emit("input", e.target.checked ? "1" : "0");
    }
  }
}
</script>