<template>


  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" :id="id" data-bs-toggle="dropdown" aria-expanded="false">
      <slot></slot>
    </button>
    <ul class="dropdown-menu" :aria-labelledby="id">
      <slot name="dropdown"></slot>
    </ul>
  </div>


</template>

<script>


export default {
  props: {
    id: {
      type: String,
      default() {
        return `dropdown-${this._uid}`
      },
    },
  },
  data() {
    return {
    }
  },
  watch: {
  },
  mounted() {
  },
}
</script>
