<template>
  <div class="mb-3">
    <label v-if="label">{{ label }}:</label>
    <div :class="{ error: errors.length }">
      <input class="form-control" ref="file" type="file" :accept="accept" @change="change">
      <div v-if="!value">
      </div>
      <div v-else>
        <div>{{ value.name }} <span>({{ filesize(value.size) }})</span></div>
        <button type="button" class="btn btn-danger" @click="remove">
          Remove
        </button>
      </div>
    </div>
    <div v-if="errors.length">{{ errors[0] }}</div>
  </div>
</template>

<script>
export default {
  props: {
    value: File,
    label: String,
    accept: String,
    errors: {
      type: Array,
      default: () => [],
    },
  },
  watch: {
    value(value) {
      if (!value) {
        this.$refs.file.value = ''
      }
    },
  },
  methods: {
    filesize(size) {
      var i = Math.floor(Math.log(size) / Math.log(1024))
      return (size / Math.pow(1024, i) ).toFixed(2) * 1 + ' ' + ['B', 'kB', 'MB', 'GB', 'TB'][i]
    },
    browse() {
      this.$refs.file.click()
    },
    change(e) {
      this.$emit('input', e.target.files[0])
    },
    remove() {
      this.$emit('input', null)
    },
  },
}
</script>
