<template>
  <div class="alert alert-success alert-dismissible fade position-absolute top-0 end-0 m-5" :class="show + ' ' + alertType" role="alert">
    {{ $page.flash.success }}{{ $page.flash.error }}
    <button type="button" class="btn-close" aria-label="Close" @click="hide"></button>
  </div>
</template>
<script>


export default {
  data() {
    return {
      show: '',
      alertType: 'alert-success'
    }
  },
  methods: {
    hide: function () {
      this.show = '';
    }
  },
  watch: {
    '$page.flash': {
      handler() {
        if (this.$page.flash.success) {
          this.show = 'show';
          this.alertType = 'alert-success';
          return;
        }
        if (this.$page.flash.error) {
          this.show = 'show';
          this.alertType = 'alert-warning';
          return;
        }


        this.show = '';
      },
      deep: true,
    },
  },
}
</script>
