<template>
  <div>
    <top-nav-bar></top-nav-bar>
    <div class="container-fluid">
      <div class="row">
        <main-menu></main-menu>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <flash-messages />
          <slot/>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import Dropdown from '@/Shared/Dropdown'
import FlashMessages from '@/Shared/FlashMessages'
import Icon from '@/Shared/Icon'
import Logo from '@/Shared/Logo'
import MainMenu from '@/Shared/MainMenu'
import TopNavBar from '@/Shared/TopNavBar'

export default {
  components: {
    TopNavBar,
    Dropdown,
    FlashMessages,
    Icon,
    Logo,
    MainMenu,
  }, data () {
    return {
      showUserMenu: false,
      accounts: null,
    }
  }, methods: {
    url () {
      return location.pathname.substr(1)
    },
    hideDropdownMenus () {
      this.showUserMenu = false
    },
  },
}
</script>