<template>
  <button :disabled="loading" class="btn btn-primary btn-block">
    <div v-if="loading" class="" />
    <slot />
  </button>
</template>

<script>
export default {
  props: {
    loading: Boolean,
  },
}
</script>
