<template>
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light shadow">
    <div class="pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">

          <inertia-link class="nav-link" :href="route('organizations')">
            <i class="bi-diagram-3"></i> Organisations
          </inertia-link>
        </li>

        <li>
          <inertia-link class="nav-link" :href="route('contacts')"><i class="bi-people"></i> Contacts</inertia-link>
        </li>

      </ul>

    </div>
  </nav>
</template>

<script>
import Icon from '@/Shared/Icon'

export default {
  components: {
    Icon,
  },
  props: {
    url: String,
  },
  methods: {
    isUrl(...urls) {
      if (urls[0] === '') {
        return this.url === ''
      }

      return urls.filter(url => this.url.startsWith(url)).length
    },
  },
}
</script>
