<template>
  <nav aria-label="Pages">
    <ul class="pagination">
      <template v-for="(link, key) in links">
        <li class="page-item"><inertia-link class="page-link" :key="key" :href="link.url">{{ link.label }}</inertia-link></li>
      </template>
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    links: Array,
  },
}
</script>
