<template>
  <div class="row">
    <div class="col-lg-8">
      <input class="form-control" autocomplete="off" type="text" name="search" placeholder="Search…" :value="value"
             @input="$emit('input', $event.target.value)">
    </div>
    <div class="col">
      <dropdown :auto-close="false" placement="bottom-start">
        <i class="bi-filter"></i>
        <div slot="dropdown" :style="{ maxWidth: `${maxWidth}px` }">
          <slot/>
        </div>
      </dropdown>
    </div>
    <div class="col">
      <button class="btn btn-primary" type="button" @click="$emit('reset')"><i class="bi-arrow-clockwise"></i></button>
    </div>
  </div>
</template>

<script>
import Dropdown from '@/Shared/Dropdown'

export default {
  components: {
    Dropdown,
  }, props: {
    value: String, maxWidth: {
      type: Number, default: 300,
    },
  },
}
</script>
