<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{ $page.auth.user.account.name }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              {{ $page.auth.user.first_name }} {{ $page.auth.user.last_name }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <inertia-link class="dropdown-item" :href="route('users.edit', $page.auth.user.id)">My Profile
                </inertia-link>
              </li>
              <li>
                <inertia-link class="dropdown-item" :href="route('users')">Manage Users</inertia-link>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <inertia-link class="nav-link" :href="route('logout')" method="post">Logout <i class="bi-power"></i>
            </inertia-link>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</template>