<template>
  <div>



        <i class="bi-trash"></i> <slot />


    <button class="btn btn-secondary" tabindex="-1" type="button" @click="$emit('restore')">Restore</button>
  </div>
</template>

<script>
import Icon from '@/Shared/Icon'

export default {
  components: {
    Icon,
  },
}
</script>
