<template>
  <div>
    <h1>
      <inertia-link :href="route('contacts')">Contacts</inertia-link>
      <span>/</span>
      {{ form.first_name }} {{ form.last_name }}
    </h1>
    <trashed-message v-if="contact.deleted_at" @restore="restore">
      This contact has been deleted.
    </trashed-message>
    <div>
      <form @submit.prevent="submit">
        <div>
          <text-input v-model="form.first_name" :error="errors.first_name" label="First name" />
          <text-input v-model="form.last_name" :error="errors.last_name" label="Last name" />
          <select-input v-model="form.organization_id" :error="errors.organization_id" label="Organization">
            <option :value="null" />
            <option v-for="organization in organizations" :key="organization.id" :value="organization.id">{{ organization.name }}</option>
          </select-input>
          <text-input v-model="form.email" :error="errors.email" label="Email" />
          <text-input v-model="form.phone" :error="errors.phone" label="Phone" />
          <text-input v-model="form.address" :error="errors.address" label="Address" />
          <text-input v-model="form.city" :error="errors.city" label="City" />
          <text-input v-model="form.region" :error="errors.region" label="Province/State" />
          <select-input v-model="form.country" :error="errors.country" label="Country">
            <option :value="null" />
            <option value="CA">Canada</option>
            <option value="US">United States</option>
          </select-input>
          <text-input v-model="form.postal_code" :error="errors.postal_code" label="Postal code" />
        </div>
        <div>
          <button class="btn btn-danger" v-if="!contact.deleted_at" tabindex="-1" type="button" @click="destroy">Delete Contact</button>
          <loading-button :loading="sending" type="submit">Update Contact</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import LoadingButton from '@/Shared/LoadingButton'
import SelectInput from '@/Shared/SelectInput'
import TextInput from '@/Shared/TextInput'
import TrashedMessage from '@/Shared/TrashedMessage'

export default {
  metaInfo() {
    return {
      title: `${this.form.first_name} ${this.form.last_name}`,
    }
  },
  layout: Layout,
  components: {
    LoadingButton,
    SelectInput,
    TextInput,
    TrashedMessage,
  },
  props: {
    errors: Object,
    contact: Object,
    organizations: Array,
  },
  remember: 'form',
  data() {
    return {
      sending: false,
      form: {
        first_name: this.contact.first_name,
        last_name: this.contact.last_name,
        organization_id: this.contact.organization_id,
        email: this.contact.email,
        phone: this.contact.phone,
        address: this.contact.address,
        city: this.contact.city,
        region: this.contact.region,
        country: this.contact.country,
        postal_code: this.contact.postal_code,
      },
    }
  },
  methods: {
    submit() {
      this.$inertia.put(this.route('contacts.update', this.contact.id), this.form, {
        onStart: () => this.sending = true,
        onFinish: () => this.sending = false,
      })
    },
    destroy() {
      if (confirm('Are you sure you want to delete this contact?')) {
        this.$inertia.delete(this.route('contacts.destroy', this.contact.id))
      }
    },
    restore() {
      if (confirm('Are you sure you want to restore this contact?')) {
        this.$inertia.put(this.route('contacts.restore', this.contact.id))
      }
    },
  },
}
</script>
