<template>
  <div>
    <h1>Contacts</h1>

    <div class="row">
      <div class="col">
        <search-filter v-model="form.search" @reset="reset" class="mb-3">
          <label for="trashedSelect" class="p-1">Trashed:</label>
          <select id="trashedSelect" class="form-select m-2 w-auto" v-model="form.trashed">
            <option :value="null"/>
            <option value="with">With Trashed</option>
            <option value="only">Only Trashed</option>
          </select>
        </search-filter>
      </div>
      <div class="col text-end">
        <inertia-link class="btn btn-primary" :href="route('contacts.create')">
          <span>Create</span>
          <span>Contact</span>
        </inertia-link>

      </div>
    </div>


    <div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Organization</th>
          <th>City</th>
          <th colspan="2">Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="contact in contacts.data" :key="contact.id">
          <td>
              {{ contact.name }}
              <i v-if="contact.deleted_at" class="bi-trash"></i>
          </td>
          <td>
              <div v-if="contact.organization">
                {{ contact.organization.name }}
              </div>
          </td>
          <td>
              {{ contact.city }}
          </td>
          <td>
              {{ contact.phone }}
          </td>
          <td>
            <inertia-link :href="route('contacts.edit', contact.id)" tabindex="-1">
              <i class="bi-pencil"></i>
            </inertia-link>
          </td>
        </tr>
        <tr v-if="contacts.data.length === 0">
          <td colspan="4">No contacts found.</td>
        </tr>
        </tbody>
      </table>
    </div>
    <pagination :links="contacts.links" />
  </div>
</template>

<script>
import Icon from '@/Shared/Icon'
import Layout from '@/Shared/Layout'
import mapValues from 'lodash/mapValues'
import Pagination from '@/Shared/Pagination'
import pickBy from 'lodash/pickBy'
import SearchFilter from '@/Shared/SearchFilter'
import debounce from 'lodash/debounce'

export default {
  metaInfo: { title: 'Contacts' },
  layout: Layout,
  components: {
    Icon,
    Pagination,
    SearchFilter,
  },
  props: {
    contacts: Object,
    filters: Object,
  },
  data() {
    return {
      form: {
        search: this.filters.search,
        trashed: this.filters.trashed,
      },
    }
  },
  watch: {
    form: {
      handler: debounce(function() {
        let query = pickBy(this.form)
        this.$inertia.replace(this.route('contacts', Object.keys(query).length ? query : { remember: 'forget' }))
      }, 150),
      deep: true,
    },
  },
  methods: {
    reset() {
      this.form = mapValues(this.form, () => null)
    },
  },
}
</script>
