<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-3">

        <form @submit.prevent="submit">

          <h1 class="text-center">Welcome Back!</h1>

          <text-input v-model="form.email" :error="errors.email" label="Email" type="email" autofocus
                      autocapitalize="off"/>
          <text-input v-model="form.password" label="Password" type="password"/>

          <check-box v-model="form.remember" value="on" label="Remember me?" />


          <loading-button :loading="sending" type="submit" class="btn-block">Login</loading-button>

        </form>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingButton from '@/Shared/LoadingButton'
import Logo from '@/Shared/Logo'
import TextInput from '@/Shared/TextInput'
import CheckBox from '@/Shared/CheckBox'

export default {
  metaInfo:
      {
        title: 'Login'
      },
  components: {
    CheckBox, LoadingButton, Logo, TextInput,
  },
  props: {
    errors: Object,
  }, data () {
    return {
      sending: false,
      form: {
        email: 'johndoe@example.com', password: 'secret', remember: 0,
      },
    }
  }, methods: {
    submit () {
      const data = {
        email: this.form.email, password: this.form.password, remember: this.form.remember,
      }

      this.$inertia.post(this.route('login.attempt'), data, {
        onStart: () => this.sending = true, onFinish: () => this.sending = false,
      })
    },
  },
}
</script>
